<h1>Shelters</h1>
<% @shelters.each do |shelter| %>
  <h2><%= shelter.name %></h2>
  <p>
    Foster Program: <%= shelter.foster_program %> <br>
    Address: <%= shelter.address %> <br>
    City, State: <%= shelter.city %> , <%= shelter.state %> <br>
  </p>
<% end %>