<h1>Shelters</h1>
<% @shelters.each do |shelter| %>
  <h2><%= @shelters.name %></h2>
  <p>Foster Program: <%= @shelters.foster_program %>
    Name: <%= @shelters.name %>
    Address: <%= @shelters.address %>
    City, State: <%= @shelters.city %> , <%= @shelters.state %>
  </p>
<% end %>