<h1>Pets</h1>
<% @pets.each do |pet| %>
  <h2><%= pet.name %></h2>
  <p>
    Adoptable: <%= pet.adoptable %> <br>
    Age: <%= pet.age %> <br>
    Color: <%= pet.color %> <br>
    Breed: <%= pet.breed %> <br>
    Shelter: <%= pet.shelter_id %> <br>
  </p>
<% end %>