<h1>Pets</h1>
<% @pets.each do |pet| %>
  <h2><%= pet.name %></h2>
  <p>
    Adoptable: <%= pet.adoptable %>
    Age: <%= pet.age %>
    Color: <%= pet.color %>
    Breed: <%= pet.breed %>
    Shelter: <%= pet.shelter_id %>
  </p>
<% end %>